<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

   <context:annotation-config /> <!-- annotations activate -->
  <!--  <context:property-placeholder location="classpath:data.properties"/> -->
  <context:component-scan base-package="com.skslate"></context:component-scan> 
  
  <bean class="com.skslate.school.Student" id="student"></bean>
  
   <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
	   	<!-- <constructor-arg name="url" value="jdbc:mysql://localhost:3306/school_db"/>
	   	<constructor-arg name="username" value="root"/>
	   	<constructor-arg name="password" value="Skslate@486"/> -->
	   	<property name="url" value="jdbc:mysql://localhost:3306/school_db"/>
	   	<property name="username" value="root"/>
	   	<property name="password" value="Skslate@486"/>
	   	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
   </bean>
   <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
   		<constructor-arg name="dataSource" ref="dataSource"/>
   </bean>
   <!-- <bean class="com.skslate.dao.StudentDao" id="studentDao">
   		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
   </bean> -->
</beans>